<!-- Main Table -->
<div class="row">
  <div class="col-xl-12">

      <div class="table-responsive">
        <table class="table table-styling">
          <thead>
            <tr class="table-primary">
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr  class="unread" *ngFor="let user of users; let i = index">
              <td>{{i + 1}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.username}}</td>

              <td>
                <button type="button" class="btn btn-glow-primary btn-primary me-2">View</button>
                <button type="button" class="btn btn-glow-success btn-success me-2">Edit</button>
                <button type="button" class="btn btn-glow-danger btn-danger me-2">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
  </div>
</div>
